#!/usr/bin/make -f

export DH_VERBOSE=1

SOURCEDIR=./
BUILDDIR=debian/build/
ICONDIR=usr/share/icons/hicolor/
BINDIR=usr/bin/
OPTBINDIR=opt/evilalarm/bin/
RESDIR=opt/evilalarm/share/
QMLDIR=opt/evilalarm/qml/
DESKTOP_DIR=usr/share/applications/hildon/

build:
	dh_testdir
	install -d ${BUILDDIR}
	qmake-qt4 -after "DESTDIR=debian/build"
	$(MAKE)
	touch build

clean:
	dh_testdir
	dh_testroot
	rm -f build
	[ ! -f Makefile ] || $(MAKE) clean
	dh_clean
	rm -rf ${BUILDDIR}

binary: binary-arch

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs ${BINDIR} $(RESDIR) $(OPTBINDIR)
	dh_install ${BUILDDIR}evilalarm ${OPTBINDIR}
	dh_link /${OPTBINDIR}evilalarm /$(BINDIR)evilalarm
	dh_install keepvolume.sh ${RESDIR}
	dh_install evilalarm.desktop $(DESKTOP_DIR)
	dh_install icons/26x26/evilalarm.png $(ICONDIR)26x26/apps
	dh_install icons/48x48/evilalarm.png $(ICONDIR)48x48/apps
	dh_install icons/64x64/evilalarm.png $(ICONDIR)64x64/apps
#QML files
	dh_install qml/AlarmSettings.qml $(QMLDIR)
	dh_install qml/AlarmSettingsCorner.qml $(QMLDIR)
	dh_install qml/AlarmSwitch.qml $(QMLDIR)
	dh_install qml/Clock2.qml $(QMLDIR)
	dh_install qml/Spinner.qml $(QMLDIR)
	dh_install qml/Switch.qml $(QMLDIR)
	dh_install qml/TimeDisplay.qml $(QMLDIR)
	dh_install qml/TimeDisplayCorner.qml $(QMLDIR)
	dh_install qml/TimeText.qml $(QMLDIR)
	dh_install qml/Wakedo.qml $(QMLDIR)
	dh_install qml/main.qml $(QMLDIR)
#graphics
	dh_install qml/TimeDisplayCorner.svg $(QMLDIR)
	dh_install qml/Wakedo.png $(QMLDIR)
	dh_install qml/alarmHand.png $(QMLDIR)
	dh_install qml/anvil-clock-small-sans-anvil.png $(QMLDIR)
	dh_install qml/background.svg $(QMLDIR)
	dh_install qml/bell.png $(QMLDIR)
	dh_install qml/hour.svg $(QMLDIR)
	dh_install qml/metalball2.png $(QMLDIR)
	dh_install qml/minute.svg $(QMLDIR)
	dh_install qml/second.png $(QMLDIR)
	dh_install qml/spinner-bg-hover.png $(QMLDIR)
	dh_install qml/spinner-bg.png $(QMLDIR)
	dh_install qml/spinner-select.png $(QMLDIR)

.PHONY: build clean binary-arch binary install
